@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

*{
    font-family: "Galano Grotesque";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.cabecalho-container{
    background-color: #FFFFFF;
    position: fixed;
    padding: 10px 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-cabecalho{
    margin-top: 10px;
    width: 50px;
}

.menu-container{
    display: flex;
    flex-direction: row;
}

.menu-ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 3em;
}

.menu-li{
    display: flex;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.menu-li.ativo {
  color: #0073D2;
}

.seta{
    width: 20px;
}

.entrar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botao-entrar{
    gap: 5px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 18px;
    background: none;
}

.icone-usuario{
    width: 25px;
}


.dropdown-conteudo {
    position: fixed;
    top: 60px;
    left: auto;
    padding: 20px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 12;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown{
    display: none;
}

.dropdown.show{
    display: block;
}

.dropdown-ul{
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 100vw;
    list-style-type: none;
}

.item-menu{
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
}

.item-menu:hover{
    color: #0073D2;
    transition: 0.2s ease all;
    padding-left: 20px;
}

.item-menu:not(:hover){
    transition: 0.2s ease all;
}

.a-link{
    text-decoration: none;
    color: #000000;
}

.principal-container{
    margin-top: 70px;
    padding: 50px 100px;
    background: linear-gradient(90deg, #0073D2 0%, #0094E0 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 600px;
}

.texto-principal-container{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.p-principal{
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 600;
}

.h1-principal{
    color: #FFFFFF;
    font-size: 42px;
    max-width: 70%;
    overflow: hidden;
    line-height: 120%;
}

.p2-principal{
    max-width: 70%;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
}

.botao-principal{
    background-color: #FFFFFF;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    height: 45px;
    font-weight: 600;
    font-size: 18px;
    width: 200px;
}

.botao-principal:hover{
    background-color: #E0FFFF;
}

.acesso-rapido-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3C404B;
    padding: 50px 100px;
}

.cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.h1-acesso-rapido{
    color: #FFFFFF;
    font-size: 42px;
    margin-bottom: 40px;
}

.cards{
    overflow: hidden;
    cursor: pointer;
    gap: 15px;
    flex-direction: column;
    display: flex;
    height: 400px;
    padding: 30px;
    background-color: #323741;
    border-radius: 20px;
}

.cards:hover{
    background-color: #505562;
    transition: 0.2s ease all;
}

.cards:not(:hover){
    transition: 0.2s ease all;
}

.icone-card{
    margin-bottom: 10px;
    width: 40px;
}

.titulo-card{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.p-card{
    color: #FFFFFF;
    font-size: 14px;
}

.emprestimos-container{
    padding: 50px 100px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #FFFFFF;
}

.texto-emprestimo-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 40%;
}

.p-emprestimos{
    font-size: 22px;
    font-weight: 600;
    color: #0073D2;
}

.h1-emprestimos{
    overflow: hidden;
    line-height: 120%;
    font-size: 42px;
    color: #000000;
}

.p2-emprestimos{
    font-size: 18px;
    font-weight: 500;
}

.cards-emprestimo-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card-emprestimo1{
    gap: 10px;
    padding: 30px;
    justify-content: end;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    background-image: url(/BG1.jpg);
    background-position: center;
    background-size: cover;
}

.card-emprestimo2{
    gap: 10px;
    padding: 30px;
    justify-content: end;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    background-image: url(/BG1.jpg);
    background-position: center;
    background-size: cover;
}

.card-emprestimo3{
    gap: 10px;
    padding: 30px;
    justify-content: end;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    background-image: url(/BG1.jpg);
    background-position: center;
    background-size: cover;
}

.card-emprestimo4{
    gap: 10px;
    padding: 30px;
    justify-content: end;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    background-image: url(/BG1.jpg);
    background-position: center;
    background-size: cover;
}

.p-card{
    font-size: 16px;
}

.p-link{
    font-size: 18px;
    text-decoration: underline;
    color: #FFFFFF;
}

.whatsapp-container{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    background-color: #0073D2;
    color: #FFFFFF;
}

.h1-whatsapp{
    font-size: 42px;
}

.p-whatsapp{
    font-size: 18px;
    font-weight: 500;
}

.botao-whatsapp{
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    background-color: #0073D2;
    margin-top: 10px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    width: 350px;
}

.botao-whatsapp:hover{
    background-color: #1888e4;
}

.icone-whatsapp{
    width: 20px;
}

.trilha-container{
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 100px;
    width: 100%;
}

.texto-trilha-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45%;
    gap: 20px;
}

.imagem-trilha-container{
    display: flex;
}

.p-trilha{
    font-size: 22px;
    font-weight: 600;
    color: #0073D2;
}

.h1-trilha{
    font-size: 42px;
    color: #000000;
    overflow: hidden;
    line-height: 120%
}

.botao-trilha{
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    background-color: #0073D2;
    margin-top: 10px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    width: 350px;
}

.botao-trilha:hover{
    background-color: #1888e4
}

.imagem-trilha{
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cartoes-container{
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px 50px 100px;
}

.texto-cartoes-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.cards-cartao-container{
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    gap: 10px;
}

.p-cartoes{
    font-size: 22px;
    font-weight: 600;
    color: #0073D2;
}

.h1-cartoes{
    overflow: hidden;
    line-height: 120%;
    font-size: 42px;
    max-width: 90%;
    color: #000000;
}

.card-cartoes{
    border-radius: 20px;
    padding: 20px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background-color: #F4F5FA;
}

.botao-cartoes{
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    background-color: #0073D2;
    margin-top: 10px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    width: 200px;
}

.botao-cartoes:hover{
    background-color: #1888e4
}

.icone-cartoes{
    width: 30px;
}

.p-card-cartoes{
    font-size: 16px;
    font-weight: 600;
}

.imagem-cartoes{
    max-width: 600px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.rodape-container{
    gap: 100px;
    color: #E0E0E0;
    padding: 50px 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    background-color: #000000;
}

.cards-rodape-container1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-rodape{
    width: 160px;
}

.h2-rodape{
    font-size: 24px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.titulo-rodpape{
    padding-top: 10px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.rodape-ul{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.opcoes-rodape{
    cursor: pointer;
}

hr {
    border: none;  
    height: 2px; 
    background-color: #2f3136; 
}